.about-content {
    flex-basis: 60%;
      max-width: 60%;
}
.aboutImg {
  flex-basis: 40%;
  max-width: 40%;
  float: right;
}

.aboutImg img {
  padding-top: 2rem;
  height: auto;
}

@media only screen and (max-width: 768px) {

  .aboutImg {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .aboutImg img {
    width: 100%;
    height: auto;
  }
}